<div class="footer-bg">
    <div class="row mt-3">
        <div class="col-3">
             <img src="../../../assets/mobile.png" alt="" class="card-img">
        </div>
        <div class="col-9">
            <div class="row">
                <h3 class="text-light">Make Your Travel Memorable</h3>
                <h3 class="text-light">Install JustBus App</h3>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="d-flex">
                        <!-- <i class="bi bi-arrow-right-circle-fill pe-2 fs-4"></i> -->
                        <i class="bi bi-check-circle-fill pe-2 fs-4 text-warning"></i>
                        <p class="text-info fs-4">Get Notified</p>
                    </div>
                    <p class="text-light">When the bus starts and is about to reach you.</p>
                </div>
                <div class="col-6">
                    <div class="d-flex">
                        <!-- <i class="bi bi-arrow-right-circle-fill pe-2 fs-4"></i> -->
                        <i class="bi bi-check-circle-fill pe-2 fs-4 text-warning"></i>
                        <p class="text-info fs-4">Lightning Fast</p>
                    </div>
                    <p class="text-light">Book in 30 seconds even on Low Network.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="d-flex">
                        <!-- <i class="bi bi-arrow-right-circle-fill pe-2 fs-4"></i> -->
                        <i class="bi bi-check-circle-fill pe-2 fs-4 text-warning"></i>
                        <p class="text-info fs-4">Trusted by Millions</p>
                    </div>
                    <p class="text-light">Over 200,000 reviews from our customer.</p>
                </div>
                <div class="col-6">
                    <div class="d-flex">
                        <!-- <i class="bi bi-arrow-right-circle-fill pe-2 fs-4"></i> -->
                        <i class="bi bi-check-circle-fill pe-2 fs-4 text-warning"></i>
                        <p class="text-info fs-4">Enjoy Other Stuff</p>
                    </div>
                    <p class="text-light">Games, offers, Free Rides and a lot more.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-primary text-light d-flex justify-content-between p-1">
    <p>JustBus | ixigo | ConfirmTkt</p>
    <p>Copyright All Rights Reserved</p>
</div>