.header-box {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;

    p {
        font-size: 40px;
        font-weight: 700;
        color: tomato;
        padding: 5px 10px;
        margin-top: 10px;

        span {
            color: red;
        }
    }

    .box {
        display: flex;
        min-width: 120px;
        align-items: baseline;
        margin-top: 10px;

        img {
            height: 35px;
            width: 35px;
        }

        h4 {
            padding-left: 7px;
            font-size: 17px;
            color: red;
            font-weight: 600;
        }

        &:hover {
            background-color: #ecc5a0;
            border-radius: 5px;
            cursor: pointer;
        }

    }
    
}