<div class="bg-danger d-flex justify-content-evenly">
    <div class="input-group m-2">
        <span class="input-group-text">
            <i class="bi bi-bus-front"></i>
        </span>
        <!-- <input type="text" class="form-control" placeholder="Pick Up Point"> -->
        <select class="form-select" [(ngModel)]="pickUpPoint">
            <option selected>Pick Up Point</option>
            @for (city of filterPickUpPoint(); track $index) {
                <option [value]="city.city">{{city.city}}</option>
            }
        </select>
    </div>
    <button class="btn btn-warning m-2" type="button" (click)="swapCities()">
        <i class="bi bi-arrow-left-right"></i>
    </button>
    <div class="input-group m-2">
        <span class="input-group-text">
            <i class="bi bi-bus-front"></i>
        </span>
        <!-- <input type="text" class="form-control" placeholder="Drop Down Point"> -->
        <select class="form-select" [(ngModel)]="dropDownPoint">
            <option selected>Drop Down Point</option>
            @for (city of filterDropDownPoint() ; track $index) {
                <option [value]="city.city">{{city.city}}</option>
            }
        </select>
    </div>
    <div class="input-group date m-2" data-provide="datepicker">
        <input type="date" class="form-control" placeholder="Pick Date" id="dateInput">
    </div>
    <button class="btn btn-warning m-2" type="button">Search</button>
</div>
<div class="container my-3">
    <div class="row card p-2 bg-primary bg-opacity-10">
        <div class="d-flex align-items-baseline justify-content-between">
            <p>Sort By :</p>
            <button class="btn btn-sm btn-outline-dark">Price</button>
            <button class="btn btn-sm btn-outline-dark">Seats</button>
            <button class="btn btn-sm btn-outline-dark">Ratings</button>
            <button class="btn btn-sm btn-outline-dark">Arrival Time</button>
            <button class="btn btn-sm btn-outline-dark">Departure Time</button>
            <div class="vr mx-3"></div>
            <div class="col-3 d-flex justify-content-start">
                <i class="bi bi-bus-front pe-3"></i>
                <p class="text-danger">Showing 195 buses on this routes</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 card bg-primary bg-opacity-50">
            <div class="card-title px-2 pt-2">
                <div class="d-flex align-items-baseline justify-content-between">
                    <p class="fs-5">Filters</p>
                    @if(clearStatus){
                        <a href="">Clear All</a>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="card bg-primary bg-opacity-25">
                    <div class="d-flex px-3 pt-3 justify-content-between">
                        <p>Price Drop</p>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" value="">
                        </div>
                    </div>
                </div>
                <div class="card bg-primary bg-opacity-25 mt-1">
                    <div class="card-title px-3 pt-3">Bus Type</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 mb-1" *ngFor="let busType of busTypes">
                                <button type="button" class="btn btn-sm btn-outline-dark w-100 align-items-baseline">
                                    {{busType.type}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-primary bg-opacity-25 mt-1">
                    <div class="card-title px-3 pt-3">Price Range</div>
                    <div class="card-body">
                        <mat-slider 
                            [min]="sliderMin" 
                            [max]="sliderMax" 
                            step="1" 
                            showTickMarks 
                            discrete="false"
                            class="w-100 mx-1"
                        >
                             <input matSliderStartThumb [(ngModel)]="min">
                             <input matSliderEndThumb [(ngModel)]="max">
                        </mat-slider> 
                        <div class="row-cols-2">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-info bg-opacity-50">Rs</span>
                                <input type="text" class="form-control" placeholder="Min" [(ngModel)]="min">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-info bg-opacity-50">Rs</span>
                                <input type="text" class="form-control" placeholder="Max" [(ngModel)]="max">
                            </div>
                        </div>           
                    </div>
                </div>
                <div class="card bg-primary bg-opacity-25 mt-1">
                    <div class="card-title px-3 pt-3">Departure Time</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 mb-1" *ngFor="let busTime of busTimes">
                                <button type="button" class="btn btn-sm btn-outline-dark w-100 align-items-baseline">
                                    {{busTime.time}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-9 card">
            @for (busCardData of busCardsData; track $index) {
                <app-bus-card [data]="busCardData"></app-bus-card>
            }
        </div>
    </div>
</div>